@import '_colors.scss';

nav {
  background-color: $base-color;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container > img {
  width: 60px;
  margin: auto 20px;
}

.logo-container > span {
  font-size: 20px;
  color: $white;
}

.menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: $light-gray;
}

.menu-close {
  right: -300px;
  transition: right 0.5s;
}

.menu-open {
  right: 0px;
  transition: right 0.5s;
}

.nav-item {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $dark-gray;
}

.active {
  background-color: $secondary-color;
  color: $white;
}

