@import '../../styles/_colors.scss';

.bot-config-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleConfigForm {
  display: block;
  margin: 0;
}

.bot-config-container {
  width: 40vw;
  margin: 10% auto 0;
  display: flex;
  flex-direction: column;
  background-color: $light-gray;

  .select-bot {
    width: 80%;
    margin: 0 auto;
  }

  form {
    width: 100%;
    margin-top: 20px;
    padding: 0 10%;
  }

  p {
    padding-left: 10%;
    font-size: 18px;
  }

  span, label {
    display: inline-block;
    margin: 4px 6px;
  }
  
  input {
    display: block;
    width: 98%;
    height: 30px;
    font-size: 16px;
  }

  option {
    padding: 15px;
    font-size: 16px;
    border: none;
  }

  .submit-btn {
    width: 100%;
    height: 50px;
    background-color: $main-blue;
    border: none;
    outline: none;
  }

  .submit-btn:active {
    background-color: $main-blue-active;
  }
}

.auto-config {
  margin-top: 15px;

  .avail-plants {
    border: none;
    outline: none;    
  }

  .prev-plant:checked {
    background: linear-gradient($secondary-green, $secondary-green);
    color: black;
  }

  label {
    display: block;
    padding-left: 10%;
  }

  select {
    width: 80%;
    display: block;
    margin: 8px auto 15px;
  }
}

.manual-config {
  .watering-type {
    margin-top: 25px;

    p {
      font-size: 18px;
    }
  }

  .watering-type-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px auto 12px;

    span {
      color: #a5a5a5;
      font-weight: bold;
    }
  
    .active {
      color: $main-green;
    }
  }

  .watering-value-container {
    padding: 10%;
    input {
      display: inline-block;
      width: 80%;
    }

    label {
      display: inline-block;
      width: 10%;
    }
  }

}

.addNewPlant {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: $main-blue;
  text-align: center;
}



